

html {
  scroll-behavior: smooth;  /*  når jeg trykker på en av iconene er det smooth scrolling  */
}

* {                         /* fjerner den vannlige padding og margin så jeg har kontroll    */
    margin: 0;      
    padding: 0;
    box-sizing: border-box; 
}

body {
    
    background-color:  #333333;  /*  endrer bakgrunn  */
}

.navbar {                       /* navigation bar   */
    position: fixed;               /* gjør at den ligger på toppen i nettsiden   */
    top: 0;
    z-index: 1000;                  /*  gjør at den ligger over alt annent  */
    font-family: 'Archivo Black', sans-serif;
    background-color: #989898;
    width: 100%;
    padding: 15px 30px;

    display: flex;
    justify-content: space-between;
}

a {                 /* gjør at alle linkene har samme styling   */
    color: black;
    text-decoration: none;
}


.nav-left, 
.nav-right {            /* endrer på venstre og høyre siden av navbar   */
    display: flex;
    align-items: center;
    gap: 20px;
}

.home-icon {                                /* Icon som er i navbar   */
    font-size: 2.5rem;
}

.profil {                                   /* Icon som er i navbar   */
    font-size: 2.5rem;

}

#OmMeg {                    /*  når jeg trykker på ikon så justerer den så ting ikke havner bak navbar  */
  scroll-margin-top: 80px;
}

#section1 {
  scroll-margin-top: 18rem;
}

#work1 {
  scroll-margin-top: 3rem;
}

#kontakt1 {
  scroll-margin-top: 3rem;
}

.work {
    font-size: 2.5rem;
    margin-right: 10px;
}

.envelope {
    font-size: 2.5rem;
}

#Home {    /* hjemme siden tekst   */
    color: #000;
    font-size: 2.5rem;
    font-family: 'Archivo Black', sans-serif;   
}

h1, h2, h3 {        /*  overskrifter  */
    font-family: 'Zalando Sans Expanded';
    color: #ffffff; 
}


#navn {                 /*  navn på forsiden  */
    font-size: 12.5rem;
    text-align: center;
    margin-top: 300px;
}


#meg {                         /*  overskriften "om meg"   */
    font-size: 8rem;
    margin-top: 400px;
    text-align: center;
}

.bilde {                /* bilder generelt   */
    display: block;
    width: 350px;
    max-width: 100%;
    height: auto;
    margin: 50px auto;
}


.hobbyer h1 {               /* hobby seksjonen   */
    font-size: 3rem;             
    margin-bottom: 20px;
}

.hobbyer h2,
.hobbyer h3 {
    font-size: 2rem;             
    margin: 5px 0;
    
}

.ting {         /*  teksten på høyre siden av bildet med videoen  */
    justify-self: start;
    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: center;  
    transform: translate(10px, -80px); 
}


.ting h1 {
    font-size: 4rem;             
    margin-bottom: 20px;
}

.ting h2,
.ting h3 {
    font-size: 2rem;             
    margin: 5px 0;
    
}


#arbeid {           /*  mitt arbeid seksjonen */
    font-size: 8rem;
    text-align: center;
}


.s2b1,  /*  bilder i seksjon 2  */
.s2b2 {
    width: 400px;
}

.s2b1 {
    margin-top: 100px;
    margin-left: 50px;
}

.s2b2 {
    position: absolute;
    margin-top: -520px;
    margin-left: 1020px;
}

.venstre,           /*  teksten ved siden av bildet  */
.høyre {
    display: flex;
    align-items: center;

}



.venstre p,
.høyre p {
  font-family: "IM Fell French Canon SC", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  color: #ffffff;

}



#pizza {
    margin-top: -240px;
    margin-left: 20px;
    font-size: 20px;
}

#caylos {
    margin-top: -240px;
    margin-left: 570px;
    font-size: 20px;
}


.kontaktmeg h1 {                /*  kontakt meg   */
    display: flex;
    justify-content: center;
    
}

#kontakt {
    margin-top: 90px;
}

.insta,
.gmail,
.tik {
    font-size: 3.5rem;
    margin-top: 100px;
    margin-left: 300px;
}



.about-grid {           /* grid for om meg delen "KI" dessverre klarte jeg ikke å fikse selv   */  
    display: grid;
    grid-template-columns: 1fr 400px 1fr;
    align-items: center;
    column-gap: 80px;

    width: 100%;
    max-width: 1400px;
    margin: 120px auto 0;
    padding: 0 40px;
}



.hobbyer {          /*  hobby tekst på høyre siden */
    justify-self: end;
    text-align: right;

    display: flex;
    flex-direction: column;
    justify-content: center; 
    transform: translate(-100px, -100px);  
}


.media-container {          /*  bilde og video container som er i midten  */
    position: relative;
    z-index: 10;
    position: relative;
    z-index: 10;
    transform: translateY(-90px);
}




.media-container img,       
.media-container video {
    width: 100%;
    outline: 4px solid white;
    outline-offset: 6px;
    border-radius: 12px;
    display: block;
}

.media-container video {        /* skjuler videoen sånn at den kun er der når den skal   */
    display: none;
}

.arrow {                /* pilen som bytter fra bilde til video eller video til bilder   */
    position: absolute;
    top: 50%;
    left: -60px;
    font-size: 2.5rem;
    color: white;
    cursor: pointer;
    z-index: 20;
}


